<?xml version='1.0'?>

<!-- Connection BD -->
<spoon>
	<connection>
		<typeBD value="mysql" />
		<server value="localhost" />
		<user value="root" />
		<password value="" />
	</connection>
	<selectDB>
		<db value="dpstation" />
	</selectDB>

	<path>
		<pathDefault value="/" />
		<pathLinux value="/opt/lampp/htdocs/portal/core" />
		<pathWindows value="F:\Archivos de programa\xampp\xampp\htdocs\prueba2\portal\core" />
	</path>

</spoon>
